# Build and developer files - C++
build*/

compile_commands.json
tags
gdb.txt
imgui.ini

# Build and developer files - Rust
target*/
Cargo.lock

# Caches
__pycache__/
.cache/
.clangd/
.vs/

# Conan files
CMakeUserPresets.json
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json

# Misc
lazy-lock.json
