build*/
src/nrx/target/
src/nhs/dist-newstyle/
Testing/

.worktrees

.vscode/
.vscode/c_cpp_properties.json
.vscode/settings.json

__pycache__/
.cache/
.clangd/

.ycm_extra_conf.py
compile_commands.json
tags
packer_compiled.lua

Cargo.lock

imgui.ini
