# Build and developer files
build*/

compile_commands.json
tags

# Caches
__pycache__/
.cache/
.clangd/

# Conan files
CMakeUserPresets.json
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json

# Misc
packer_compiled.lua
